#clock {
    margin-bottom: 25px
}
/*
.period_number, .is-countdown p {
    font-family: 'webfontkit';
    line-height: 1;
    margin-bottom: 0
}
 */

.period_name {
    font-family: 'Century Gothic', SomeFont, sans-serif;
    text-transform: uppercase;
    font-size: 2vw
}

.period_value + p {
    margin-top: 0
}

.period_value, .period_separator {
    line-height: 1
}

.period_number {
    display: inline-block
}

.is-countdown {
    text-align: center;
    justify-content: center
}

.fa-spin-hover:hover {
    animation: fa-spin 2s infinite linear
}

.logo-text {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    vertical-align: middle;
    margin-left: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Century Gothic', SomeFont, sans-serif
}

.logo-text span {
    line-height: 20px;
    font-size: 15px
}

.rd-navbar--is-stuck .logo-text {
    line-height: 25px;
    font-size: 20px
}

.rd-navbar--is-stuck .logo-text span {
    line-height: 17px;
    font-size: 12px
}

@media (max-width: 768px) {
    .select2-search__field {
        display: none
    }
}

.demo-wrapper {
    width: 38%;
    margin: 0 auto
}

.html5-fullscreen-api {
    position: relative
}

.html5-fullscreen-api .fs-button {
    display: inline-block;
    cursor: pointer
}

.html5-fullscreen-api .fs-button:hover:after {
    color: #fff
}

#fullscreen:-webkit-full-screen {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 10%
}

.tooltip-1:hover {
    top: -100%
}

.tooltip-1:hover {
    top: 0
}

.tooltip-1:before, .tooltip-1:after {
    position: absolute;
    opacity: 0;
    visibility: hidden
}

.tooltip-1:before {
    content: attr(data-tooltip);
    width: auto;
    min-width: 140px;
    height: auto;
    line-height: 18px;
    background: black;
    color: white;
    border-radius: 5px;
    margin-left: -56px;
    font-family: 'Century Gothic', SomeFont, sans-serif;
    font-size: 14px;
    padding: 5px 10px
}

.tooltip-1:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: black;
    margin-left: -26px
}

.tooltip-1:hover:before, .tooltip-1:hover:after {
    opacity: 1;
    visibility: visible;
    transition: .2s ease-in-out .4s
}

.tooltip-1:hover:after {
    top: 5px
}

.tooltip-1:hover:before {
    top: -20px
}

.rd-navbar-panel-title .logo-text {
    line-height: 20px;
    font-size: 15px;
    color: black
}

.error404 {
    font-size: 10vw;
    font-weight: 700;
    color: #3db7ef;
    line-height: 1
}

.text404 {
    font-size: 3vw;
    font-weight: 700;
    color: #3db7ef;
    line-height: 1;
    font-family: 'Century Gothic', SomeFont, sans-serif
}

.flags li {
    display: inline-block
}

@media (min-width: 768px) {
    .mobile-flags {
        display: none
    }
}

.mobile-flags {
    margin-left: 5px;
    font-size: 14px
}